*{
    margin: 0;
    padding: 0;
    background-size: cover;
    position: center;
}
.main{
    width: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(sn1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    margin-left: none;
    float: inline-start;
}
.menu{
    width: 400px;
    display:inline-block;
    height: 70px;
    margin-left: 50px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 30px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    text-shadow: 2px 3px 3px black;
}
ul li a:hover{
    color: #ff7200;
}
.icon img{
    width: 150px;
    height: 150px;
    position:static;
    margin-left: none;
    margin-top: none;
    border-radius: 80%;
}
table tr td img{
    background-repeat: no-repeat;
    background-position: bottom, center;
    background-attachment:fixed;
    background-size: 30%;
    border: 3 px solid black;
    border-radius: 30%;
    padding: 15px;
    width: 250px;
    height: 250px;
    padding-top: 5%;
    transition: 0.5s;
}
table tr td img:hover{
    transform: scale(1.3);
    z-index: 2;
}
.par{
    text-align: justify;
    float: left;
    padding-top: 80px;
    position: relative;
    color:#a2e4b8;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

table tr th h2{
    color: #a2e4b8;
    font-family: sans-serif;
    padding-top: 20px;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 20px;
}
table tr th h3 a{
    color: #a2e4b8;
    text-shadow: 2px 2px 2px black;
    
}
